# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
lib
coverage
packages/ss-ele/version.ts

# local env files
*.local
cypress/screenshots/*
cypress/videos/*
tmp
